<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>template is working</title>
</head>
<body>
<h1>welcome to the text area.Enter the text</h1>
<form action="/analyze" method="get">
    <textarea name="text" style='width:760px; height:200px; margin:0px'></textarea><br>
    <input type="checkbox" name="removepunc"> Remove punctuations<br>
    <input type="checkbox" name="capital"> UpperCase<br>
    <input type="checkbox" name="newlineremove"> New Line Remover<br>
    <input type="checkbox" name="extraspace"> Extra Space Remover<br>
    <input type="checkbox" name="charcount"> Character Counter<br>
    <button type='submit'>Analyse text</button>
</form>
</body>
</html>